body{
	font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.154;
    font-weight: 900;
    word-wrap: break-word;
}

.topPanelUI{
    color: #fff;
    margin-top: -5px;
    background-color: #1a1b1f;
    width: 840px;
}

div.timeprogress{
    margin-top: 3px;
    background: #d8d6d9;
    height: 3px;
    width: 1px;
}

td.time{
    text-align: center;
}

div.timeprogress-back{
    margin-top: 3px;
    background: #3b4753;
    height: 3px;
    width: 110px;
}

.bottomPanelUI{
    color: #fff;
    margin-top: 443px;
    background-color: #1a1b1f;
    width: 840px;
}

.bottomPanelUItr td, .topPanelUI td{
    padding: 12px;
}

.bottomPanelUItr td:hover, .topPanelUI td.hover:hover{
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.bottomPanelUI table{
    border-collapse: separate;
    border-spacing: 8px 0px;
    margin-left: 420px;
    transform: translateX(-50%);
}

.topPanelUI table{
    border-collapse: separate;
    border-spacing: 8px 0px;
    width: 840px;
}

.stats{
    margin-top: 220px;
    transform: translateY(-50%);
}

.statsBack{
    background-color: #1a1b1f;
    opacity: 0.8;
    height: 480px;
    color: white;
    padding: 12px;
}

.label-black{
    background-color: #000;
    color: #fff;
}

.label-white{
    background-color: #fff;
    color: #000;
}

.label{
    display: inline;
    padding: .3em .6em .3em;
    font-size: 75%;
    font-weight: 900;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.version{
    margin-top: 442.15px;
    color: white;
    padding: 12px;
}

.panelInfo{
    overflow-y: auto;
    max-height: 335px;
    padding-right: 12px;
}

.panelUIBuild, .panelUIStats, .panelUIPopulation, .panelUIRes{
    margin-left: 590px;
}

.panel{
    margin-top: 40px;
    margin-bottom: 20px;
}

.panelBack{
    background-color: #1a1b1f;
    width: 250px;
    opacity: 0.8;
    height: 480px;
    color: white;
    padding: 12px;
}

.panelBuilding{
    background-color: rgba(255,255,255,0.1);
    padding: 24px;
    width: 150px;
    margin-left: 26px;
    margin-bottom: 10px;
}

.panelBuilding:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.key:hover{
    cursor: pointer;
}

button.btn-green{
    outline: none;
    border: none;
    box-shadow: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 900;
    background-color: #79aa58;
    color: #fff;
}

button:active, button:focus, button:hover{
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    border: none;
    -moz-border: none;
    -webkit-outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    cursor: pointer;
}

div.left{
    margin: 0;
    width: 50%;
    float: left;
}

div.right{
    margin: 0;
    width: 50%;
    float: right;
}

/*.back-black{
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 12px;
    color: white;
    float: left;
}

.back-black-03{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding: 0px 12px 0px;
    color: white;
    float: left;
}*/

.buildMenu{
    padding: 8px;
}

.panelUIBuild table{
  border-collapse: separate;
  border-spacing: 8px 12px;
  margin-left: 230px;
  transform: translateX(-50%);
}

.panelUIBuild table > tr{
    text-align: center;
}

img.res{
    margin: -10px;
    margin-left: -8px;
}

img.need{
    margin: -10px;
    margin-left: 1px;
}

.resEvent{
    margin-top: 4px;
    width: 100%;
    padding: 2px 8px 2px;
}

p{
    margin: .5em 0 .5em;
}

hr.white{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
    margin: .8em 0 .8em;
}

.needsPanel .back-black-03{
    margin-top: 10px;
}

.needsPanel{
    width: 150px;
    margin-top: 60px;
    margin-left: 690px;
}

.scene-back{
    background-color: black;
    color: #FDFDFD;
    text-align: center;
    width: 840px;
    height: 480px;
}

.scene-back .scene-center{
    padding-top: 160px;
}

.scene-back .scene-bottom{
    margin-top: 185px;
    color: #17AF36;
    border: 2px solid #17AF36;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 251px;
}

.scene-back .scene-center h4{
    color: #3498DB;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.scene-back.scene-center p{
    padding-top: -50px;
}

.scene-back .scene-center img{
    margin: 6px;
}

.menu-back{
    background-color: #202226;
    color: white;
    padding-top: 100px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    width: 840px;
    height: 480px;
}

.menu-panel{
    padding: 6px;
    color: white;
    background-color: transparent;
    border: 3px solid #fff;
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.menu-panel:hover, .menu-panel:active{
    background-color: #fff;
    color: #202226;
    width: 300px;
    font-weight: 900;
    cursor: pointer;
}

.menu-version{
    padding: 6px;
    color: white;
    background-color: transparent;
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 98px;
    margin-bottom: 8px;
}

.menu-header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
    width: 450px;
}

.header-back{
    float: left;
    background-color: transparent;
    border: 3px solid #fff;
    color: white;
    padding: 6px;
    width: 70px;
    text-align: center;
    margin-right: 5px;
    transition: 0.3s;
}

.header-back:hover{
    background-color: #fff;
    color: #202226;
    cursor: pointer;
    font-weight: 900;
}

.header{
    float: right;
    text-align: center;
    background-color: transparent;
    border: 3px solid #fff;
    color: white;
    padding: 6px;
    width: 375px;
}

.shop-pack{
    background-color: transparent;
    padding: 6px;
    text-align: center;
    color: white;
    border: 3px dotted #fff;
    transition: 0.3s;
}

.shop-pack:hover{
    border: 3px solid #fff;
    background-color: #fff;
    color: #202226;
    cursor: pointer;
    font-weight: 900;
}

.shop-pack-primary{
    background-color: transparent;
    padding: 6px;
    text-align: center;
    color: #0074d9;
    border: 3px dotted #0074d9;
    transition: 0.3s;
}

.shop-pack-primary:hover{
    border: 3px solid #0074d9;
    background-color: rgba(0,116,217,0.5);
    color: white;
    cursor: pointer;
    font-weight: 900;
}

.shop-pack-warning{
    background-color: transparent;
    padding: 6px;
    text-align: center;
    color: #ff8800;
    border: 3px dotted #ff8800;
    transition: 0.3s;
}

.shop-pack-warning:hover{
    border: 3px solid #ff8800;
    background-color: rgba(255,136,0,0.5);
    color: white;
    cursor: pointer;
    font-weight: 900;
}

.shop-pack-danger{
    background-color: transparent;
    padding: 6px;
    text-align: center;
    color: #ff4136;
    border: 3px dotted #ff4136;
    transition: 0.3s;
}

.shop-pack-danger:hover{
    border: 3px solid #ff4136;
    background-color: rgba(255,65,54,0.5);
    color: white;
    cursor: pointer;
    font-weight: 900;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: disc;
}